
.sy_rfloat{ width:72px; height:462px; position:fixed; top:117px; right:1%; margin-right:auto; z-index:999; display:block;}
.rfloat_sub{ width:72px; height:71px; position:absolute; cursor:pointer;}
.rfloat_sub_tit{ width:72px; height:28px; position:absolute; bottom:5px; font-size:14px; line-height:28px; text-align:center; color:#666;}
.rfloat_sub:hover .rfloat_sub_tit{ color:#1492FF;}

.rfloat_sub1{ position:absolute; top:0px; left:0px; background:url(rfloat_sub.png) top no-repeat;}
.rfloat_sub1:hover{ background:url(../images/htzj/rfloat_sub_hover.png) top no-repeat;}

.rfloat_sub2{ position:absolute; top:71px; left:0px; background:url(../images/htzj/rfloat_sub.png) 0px -71px no-repeat;}
.rfloat_sub2:hover{ background:url(../images/htzj/rfloat_sub_hover.png) 0px -71px no-repeat;}
.rfloat_sub2:hover .rfloat_sub_zxts{ display:block;}
<!---->
.rfloat_sub3{ position:absolute; top:142px; left:0px; background:url(../images/htzj/rfloat_sub.png) 0px -142px no-repeat;}
.rfloat_sub3:hover{ background:url(../images/htzj/rfloat_sub_hover.png) 0px -142px no-repeat;}
.rfloat_sub3:hover .rfloat_sub_jiucuo{ display:block;}

.rfloat_sub_jiucuo{ width:125px; height:216px; position:absolute; top:-74px; left:-125px; background:url(../images/htzj/rfloat_sub_jiucuo.png) left no-repeat; display:none;}

.rfloat_sub_zxts{ width:125px; height:322px; position:absolute; top:-124px; left:-125px; background:url(../images/htzj/rfloat_sub_zxts.png) left center no-repeat; display:none;}
.rfloat_sub_zx{ width:120px; height:108px; padding-top:0px; position:absolute; top:0px; left:0px;}
.rfloat_sub_zxtit{ width:106px; height:40px; position:absolute; top:68px; left:0px; font-size:14px; line-height:24px; text-align:center;}
.rfloat_sub_zx:hover{ background:url(../images/htzj/rfloat_sub_zx_hover.gif) top left no-repeat;}
.rfloat_sub_zx:hover .rfloat_sub_zxtit{ color:#1492FF;}
.rfloat_sub_ts{ width:120px; height:107px; padding-top:0px; position:absolute; top:108px; left:0px;}
.rfloat_sub_tstit{ width:106px; height:40px; position:absolute; top:67px; left:0px; font-size:14px; line-height:24px; text-align:center;}
.rfloat_sub_ts:hover{ background:url(../images/htzj/rfloat_sub_ts_hover.png) center left no-repeat;}
.rfloat_sub_ts:hover .rfloat_sub_tstit{ color:#1492FF;}

.rfloat_sub_zxxx{ width:120px; height:108px; padding-top:0px; position:absolute; bottom:0px; left:0px;}
.rfloat_sub_zxtitxx{ width:106px; height:40px; position:absolute; top:68px; left:0px; font-size:14px; line-height:24px; text-align:center;}
.rfloat_sub_zxxx:hover{ background:url(../images/htzj/rfloat_sub_zxxx_hover.gif) bottom left no-repeat;}
.rfloat_sub_zxxx:hover .rfloat_sub_zxtitxx{ color:#1492FF;}

<!--¾À´í-->
.rfloat_sub_zxtp{ width:120px; height:108px; padding-top:0px; position:absolute; top:0px; left:0px;}
.rfloat_sub_zxtittp{ width:106px; height:40px; position:absolute; top:68px; left:0px; font-size:14px; line-height:24px; text-align:center;}
.rfloat_sub_zxtp:hover{ background:url(../images/htzj/rfloat_sub_zxtp_hover.png) top left no-repeat; }
.rfloat_sub_zxtp:hover .rfloat_sub_zxtittp{ color:#1492FF;}

.rfloat_sub_zxxxbm{ width:120px; height:108px; padding-top:0px; position:absolute; bottom:0px; left:0px;}
.rfloat_sub_zxtitxxbm{ width:106px; height:40px; position:absolute; top:68px; left:0px; font-size:14px; line-height:24px; text-align:center;}
.rfloat_sub_zxxxbm:hover{ background:url(../images/htzj/rfloat_sub_zxxxbm_hover.png) bottom left no-repeat;}
.rfloat_sub_zxxxbm:hover .rfloat_sub_zxtitxxbm{ color:#1492FF;}
<!--¾À´í-->

.rfloat_sub3{ position:absolute; top:142px; left:0px; background:url(../images/htzj/rfloat_sub.png) 0px -142px no-repeat;}


.rfloat_sub5{ position:absolute; top:213px; left:0px; background:url(../images/htzj/rfloat_sub.png) 0px -284px no-repeat;}
.rfloat_sub5:hover{ background:url(../images/htzj/rfloat_sub_hover.png) 0px -284px no-repeat;}


.rfloat_sub6{ height:72px; position:absolute; top:284px; left:0px; background:url(../images/htzj/rfloat_sub.png) 0px -355px no-repeat;}
.rfloat_sub6 .rfloat_sub_tit{ bottom:8px;}
.rfloat_sub6:hover{ background:url(../images/htzj/rfloat_sub_hover.png) 0px -355px no-repeat;}

.rfloat_sub7{ height:35px; position:absolute; top:355px; left:0px; background:url(../images/htzj/rfloat_sub.png) 0px -427px no-repeat;}
.rfloat_sub7 .rfloat_sub_tit{ bottom:4px; color:#fff;}
.rfloat_sub7:hover{ background:url(../images/htzj/rfloat_sub_hover.png) 0px -427px no-repeat;}
.rfloat_sub7:hover .rfloat_sub_tit{ color:#fff;}

.rfloat_sub8{ height:73px; overflow:hidden; position:absolute; top:427px; left:0px; cursor:default;}
.rfloat_sub8_bg{ width:72px; height:73px; overflow:hidden; position:absolute; top:-73px; left:0px; background:url(../images/htzj/rfloat_sub.png) 0px -462px no-repeat; cursor:pointer;}
.rfloat_sub8 .rfloat_sub8_bg .rfloat_sub_tit{ bottom:2px; color:#fff;}
.rfloat_sub8:hover .rfloat_sub8_bg .rfloat_sub_tit{ color:#fff;}


<!---->
.rfloat_sub_mobile{ position:absolute; top:462px; left:0px; background:url(../images/htzj/rfloat_sub.png) 0px -213px no-repeat;}
.rfloat_sub_mobile:hover{ background:url(../images/htzj/rfloat_sub_hover.png) 0px -213px no-repeat;}
.rfloat_sub_2code{ width:191px; height:371px; position:absolute; top:-150px; left:-191px; background:url(../images/htzj/rfloat_sub_2code.png) top no-repeat; display:none;}
.rfloat_sub_mobile:hover .rfloat_sub_2code{ display:block;}


@media screen and (max-width:1300px){
	.sy_rfloat{ margin-right:auto;}
}