/* CSS Document */
* {
	margin:0;
	font-family:"微软雅黑";
}
body {
	background-image: url(../images/bg_xw.gif);
	background-repeat: repeat;
	background-position: center;
}
/* 图片无边框*/
img {
	border:0;
}
/*定义整个页面的宽度*/
page {
	width:auto;
!important;
	max-width:1000px !important;
	margin:0 auto;
	height:auto !important;
	width:1000px;
}
form {
	padding:0px;
	margin:0px;
}
/*页面容器初始化结束*/

/*清除页面底部高度，iframe所致*/
#vishidden {
	display:none
}
/*版通基本样式开始*/
/*整个网页超链接样式开始*/
/*去掉鼠标靠近时的下划线*/
a {
	text-decoration:none;
	color:#666666;
}
a:visited {
	color:#666666;
	text-decoration:none;
}
a:hover {
	text-decoration: none;
	color:#1492FF;
}
/*****头部*****/
.loginBar {
	height:20px;
	background-color:#B0D0FF;
	font-size: 12px;
	color: #333333;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 30px;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #0066FF;
	border-bottom-color: #0066FF;
}

.head_all {
	width:100%;
	height:auto;
	position:relative;
	background-color:#fff;
	font-size: 14px;	
}
/*top*/
.top {
	width:100%;
	height:auto;
	background-color:#f3f3f3;
}
.top_main {
	width:1000px;
	height:37px;
	margin:0 auto;
}
.top_link {
	display:block;
	height:37px;
	float:right;
	padding-left:19px;
	background:url(top_link_bg.png) left no-repeat;
	font-size:12px;
	font-family:"宋体";
	line-height:37px;
	color:#666;
}
/*head*/
.head {
	width:100%;
	height:auto;
	position:relative;
	background-color: #EFEFF0;
}
.head_main {
	width:1000px;
	height:auto;
	margin:0 auto;
	position:relative;
}
.logo {
	width:245px;
	height:50px;
	position:absolute;
	top:24px;
	left:0px;
}
.site_nav {
	width:210px;
	height:25px;
	position:absolute;
	top:34px;
	left:357px;
}
.site_nav_main {
	display:block;
	height:25px;
	float:left;
	padding-right:25px;
	position:relative;
	background:url(head_site_bg1.png) right no-repeat;
}
.site_nav_tit {
	font-size:18px;
	line-height:25px;
	cursor:pointer;
}
.site_nav_list {
	width:1000px;
	height:235px;
	position:absolute;
	top:58px;
	left:-357px;
	z-index:2;
	display:none;
}
/*background:url(site_list_bg.png) top no-repeat; */
.site_nav_main:hover {
	background:url(head_site_bg2.png) right no-repeat;
}
.site_nav_main:hover .site_nav_list {
	display:block;
}
.site_sub1 {
	width:996px;
	height:35px;
	position:absolute;
	top:35px;
	left:2px;
	border-bottom:1px solid #e7e7e7;
}
.site_sub1_tit {
	width:94px;
	height:35px;
	position:absolute;
	top:0px;
	left:13px;
	font-size:14px;
	line-height:35px;
}
.site_sub1_listmain {
	width:889px;
	height:35px;
	position:absolute;
	top:0px;
	left:107px;
}
.site_sub1_list {
	display:block;
	height:25px;
	padding-left:6px;
	padding-right:12px;
	margin-top:5px;
	margin-right:20px;
	float:left;
	background-color:#0987FF;
	font-size:14px;
	line-height:25px;
	color:#fff;
	cursor:pointer;
}
.site_sub2 {
	width:996px;
	height:35px;
	position:absolute;
	top:71px;
	left:2px;
	border-bottom:1px solid #e7e7e7;
}
.site_sub2_tit {
	width:94px;
	height:35px;
	position:absolute;
	top:0px;
	left:13px;
	font-size:14px;
	line-height:35px;
}
.site_sub2_listmain {
	width:889px;
	height:35px;
	position:absolute;
	top:0px;
	left:107px;
}
.site_sub2_list {
	display:block;
	height:25px;
	padding-left:6px;
	margin-top:5px;
	margin-right:20px;
	float:left;
	font-size:14px;
	line-height:25px;
	cursor:pointer;
}
.site_sub2_listx {
	padding-right:26px;
	background:url(site_x.png) right no-repeat;
	visibility:hidden;
}
.site_sub2_list:hover {
	background-color:#0987FF;
	color:#fff;
}
.site_sub2_list:hover .site_sub2_listx {
	visibility:visible;
}
.site_sub3 {
	width:996px;
	height:70px;
	position:absolute;
	top:107px;
	left:2px;
	border-bottom:1px solid #e7e7e7;
}
.site_sub3_tit {
	width:94px;
	height:35px;
	position:absolute;
	top:0px;
	left:13px;
	font-size:14px;
	line-height:35px;
}
.site_sub3_listmain {
	width:889px;
	height:35px;
	position:absolute;
	top:0px;
	left:107px;
}
.site_sub3_list {
	display:block;
	height:25px;
	padding-left:6px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:20px;
	float:left;
	font-size:14px;
	line-height:25px;
	cursor:pointer;
}
.site_sub3_listx {
	padding-right:20px;
	background:url(site_x.png) right no-repeat;
	visibility:hidden;
}
.site_sub3_list:hover {
	background-color:#0987FF;
	color:#fff;
}
.site_sub3_list:hover .site_sub3_listx {
	visibility:visible;
}
.site_sub4 {
	width:996px;
	height:35px;
	position:absolute;
	top:178px;
	left:2px;
}
.site_sub4_tit {
	width:94px;
	height:35px;
	position:absolute;
	top:0px;
	left:13px;
	font-size:14px;
	line-height:35px;
}
.site_sub4_listmain {
	width:889px;
	height:35px;
	position:absolute;
	top:0px;
	left:107px;
}
.site_sub4_list {
	display:block;
	height:25px;
	padding-left:6px;
	margin-top:5px;
	margin-right:20px;
	float:left;
	font-size:14px;
	line-height:25px;
	cursor:pointer;
}
.site_sub4_listx {
	padding-right:26px;
	background:url(site_x.png) right no-repeat;
	visibility:hidden;
}
.site_sub4_list:hover {
	background-color:#0987FF;
	color:#fff;
}
.site_sub4_list:hover .site_sub4_listx {
	visibility:visible;
}
.bumen_nav {
	width:100px;
	height:25px;
	position:absolute;
	top:73px;
	left:565px;
}
.bumen_nav_main {
	display:block;
	height:25px;
	float:left;
	padding-left:30px;
	position:relative;
	background:url(head_bumen_bg.png) left no-repeat;
}
.bumen_nav_tit {
	font-size:14px;
	line-height:25px;
	cursor:pointer;
}
.bumen_nav_list {
	width:1000px;
	height:265px;
	position:absolute;
	top:22px;
	left:-565px;
	background:url(bumen_list_bg.png) top no-repeat;
	z-index:2;
	display:none;
}
.bumen_nav_main:hover .bumen_nav_list {
	display:block;
}
.bumen_sub_tit {
	width:75px;
	height:40px;
	position:relative;
	top:13px;
	left:15px;
	font-size:14px;
	line-height:40px;
	text-align:center;
}
.bumen_sub_listmain {
	width:977px;
	height:189px;
	position:absolute;
	top:73px;
	left:21px;
}
.bumen_sub_list {
	width:125px;
	height:25px;
	margin-bottom:5px;
	margin-right:10px;
	float:left;
	font-size:14px;
	line-height:25px;
	text-align:center;
	cursor:pointer;
}
.bumen_sub_list:hover {
	background-color:#0987FF;
	color:#fff;
}
.weather {
	width:80px;
	height:50px;
	position:absolute;
	top:24px;
	left:270px;
}
.weather_sub {
	display:block;
	height:25px;
	float:left;
	padding-left:25px;
	position:absolute;
	top:10px;
	background:url(head_weather_img.png) left no-repeat;
}
.weather_sub_tit {
	font-size:14px;
	line-height:25px;
	color:#999;
	cursor:pointer;
}
.weather_sub_list {
	width:216px;
	height:132px;
	overflow:hidden;
	position:absolute;
	top:58px;
	left:-75px;
	background:url(weather_list_bg.png) top no-repeat;
	z-index:2;
	display:none;
}
.weather_sub:hover .weather_sub_list {
	display:block;
}
.weather_sublist_main {
	width:196px;
	height:84px;
	position:absolute;
	top:28px;
	left:17px;
}
.weather_listr {
	height:28px;
}
.weather_listr_left {
	width:85px;
	height:28px;
	float:left;
	font-size:14px;
	line-height:28px;
}
.weather_listr_right {
	width:106px;
	height:28px;
	float:right;
	font-size:14px;
	line-height:28px;
}
.search {
	width:335px;
	height:37px;
	position:absolute;
	top:30px;
	right:97px;
}
.login {
	width:85px;
	height:37px;
	position:absolute;
	top:30px;
	right:0px;
}
.login_per {
	width:80px;
	height:16px;
	padding-left:20px;
	position:absolute;
	top:0px;
	left:5px;
	background:url(login_img.png) left no-repeat;
	font-size:14px;
	line-height:16px;
	color:#666;
	cursor:pointer;
}
.login_status {
	display:block;
	width:80px;
	height:16px;
	position:absolute;
	top:16px;
	left:5px;
}
.login_denglu {
	font-size:12px;
	font-family:"宋体";
	line-height:16px;
	color:#1492FF;
	cursor:pointer;
}
.login_line {
	font-size:12px;
	font-family:"宋体";
	line-height:16px;
	color:#999;
}
.login_zhuce {
	font-size:12px;
	font-family:"宋体";
	line-height:16px;
	color:#666;
	cursor:pointer;
}
.phone {
	width:220px;
	height:28px;
	position:absolute;
	bottom:8px;
	right:0px;
}
.phone_sub {
	float:right;
	font-size:16px;
	line-height:28px;
	color:#1492FF;
}
/*****主体*****/
/*banner*/
.banner {
	width:100%;
	height:300px;
	position:relative;
}
#banner_img1 {
	width:100%;
	height:300px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	display: block;
}
#banner_img2 {
	width:100%;
	height:300px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	display:none;
}
.banner_img001 {
	width:100%;
	height:300px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	background-image: url(banner.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.banner_img002 {
	width:100%;
	height:300px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	background:url(banner.jpg) top no-repeat;
}
.banner_link {
	width:550px;
	height:110px;
	margin:0 auto;
	position:relative;
	top:10px;
	left: 100px;
}
.banner_link_list1 {
	width:259px;
	height:110px;
	position:absolute;
	top:0px;
	left:0px;
}
.banner_link_list2 {
	width:350px;
	height:110px;
	position:absolute;
	top:0px;
	left:263px;
}
.banner_link_sub {
	overflow:hidden;
	position:absolute;
	cursor:pointer;
}
.banner_list1_subbg1 {
	width:128px;
	height:110px;
	position:absolute;
	top:-110px;
	left:0px;
}
.banner_list1_subbg2 {
	width:128px;
	height:110px;
	position:absolute;
	top:0px;
	left:0px;
}
.banner_list1_tit {
	width:128px;
	height:42px;
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:18px;
	line-height:42px;
	text-align:center;
	color:#fff;
}
.banner_list2_subbg1 {
	width:128px;
	height:110px;
	position:absolute;
	top:-110px;
	left:0px;
}
.banner_list2_subbg2 {
	width:128px;
	height:110px;
	position:absolute;
	top:0px;
	left:2px;
}
.banner_list2_tit {
	width:112px;
	height:42px;
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:18px;
	line-height:42px;
	text-align:center;
}
.banner_list2_subbg1 .banner_list2_tit {
	color:#f27576;
}
.banner_list2_subbg2 .banner_list2_tit {
	color:#1492FF;
}
.banner_link_sub1 {
	width:128px;
	height:110px;
	position:absolute;
	top:0px;
	left:0px;
}
.banner_link_sub1 .banner_list1_subbg1 {
	background-color: #e8ba41;
	background-image: url(banner_sub_bg11.png);
	background-repeat: no-repeat;
	background-position: top;
	font-weight: bold;
}
.banner_link_sub1 .banner_list1_subbg2 {
	background-color: #215283;
	background-image: url(banner_sub_bg1.png);
	background-repeat: no-repeat;
	background-position: top;
	opacity:0.3;filter:alpha(opacity=30); 
}
.banner_link_sub2 {
	width:128px;
	height:110px;
	overflow:hidden;
	position:absolute;
	top:0px;
	right:-2px;
}
.banner_link_sub2 .banner_list1_subbg1 {
	background-color: #e8ba41;
	background-image: url(banner_sub_bg22.png);
	background-repeat: no-repeat;
	background-position: top;
	font-weight: bold;
}
.banner_link_sub2 .banner_list1_subbg2 {
	background-color: #215283;
	background-image: url(banner_sub_bg2.png);
	background-repeat: no-repeat;
	background-position: top;
	opacity:0.3;filter:alpha(opacity=30); 
}
.banner_link_sub3 {
	width:128px;
	height:110px;
	position:absolute;
	top:0px;
	left:2px;
}
.banner_link_sub3 .banner_list2_subbg1 {
	background-color: #e8ba41;
	background-image: url(banner_sub_bg33.png);
	background-repeat: no-repeat;
	background-position: top;
	font-weight: bold;
}
.banner_link_sub3 .banner_list2_subbg2 {
	background-color: #215283;
	background-image: url(banner_sub_bg3.png);
	background-repeat: no-repeat;
	background-position: top;
	opacity:0.3;filter:alpha(opacity=30); 
}
.banner_link_sub4 {
	width:128px;
	height:110px;
	position:absolute;
	top:0px;
	left:134px;
}
.banner_link_sub4 .banner_list2_subbg1 {
	background-color: #e8ba41;
	background-image: url(banner_sub_bg44.png);
	background-repeat: no-repeat;
	background-position: top;
	font-weight: bold;
}
.banner_link_sub4 .banner_list2_subbg2 {
	background-color: #215283;
	background-image: url(banner_sub_bg4.png);
	background-repeat: no-repeat;
	background-position: top;
	opacity:0.3;filter:alpha(opacity=30); 
}
.banner_link_sub5 {
	width:128px;
	height:110px;
	position:absolute;
	top:0px;
	left:267px;
}
.banner_link_sub5 .banner_list2_subbg1 {
	background-color: #e8ba41;
	background-image: url(banner_sub_bg55.png);
	background-repeat: no-repeat;
	background-position: top;
	font-weight: bold;
}
.banner_link_sub5 .banner_list2_subbg2 {
	background-color: #215283;
	background-image: url(banner_sub_bg5.png);
	background-repeat: no-repeat;
	background-position: top;
	opacity:0.3;filter:alpha(opacity=30); 
}
.banner_link_sub6 {
	width:128px;
	height:110px;
	position:absolute;
	top:0px;
	left:336px;
}
.banner_link_sub6 .banner_list2_subbg1 {
	background-color: #e8ba41;
	background-image: url(banner_sub_bg66.png);
	background-repeat: no-repeat;
	background-position: top;
	font-weight: bold;
}
.banner_link_sub6 .banner_list2_subbg2 {
	background-color: #215283;
	background-image: url(banner_sub_bg6.png);
	background-repeat: no-repeat;
	background-position: top;
	opacity:0.3;filter:alpha(opacity=30); 
}
/*首页主体*/
.sy_body {
	width:1000px;
	height:250px;
	position:relative;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	font-size:14px;
}
.sy_body_left {
	width:292px;
	height:616px;
	position:absolute;
	top:0px;
	left:0px;
	border:1px solid #E7E7E7;
	background-color:#FDFDFD;
}
.body_left_tit {
	width:292px;
	height:39px;
	position:relative;
}
.left_tit_sub {
	font-size:18px;
	line-height:39px;
	text-align:center;
	cursor:pointer;
}
.jrgz_tit {
	width:146px;
	height:39px;
	position:absolute;
	top:0px;
	left:0px;
}
.zcjd_tit {
	width:146px;
	height:39px;
	position:absolute;
	top:0px;
	right:0px;
}
.body_left_list {
	width:292px;
	height:auto;
	position:relative;
	border-bottom:1px solid #ECECEC;
}
.jrgz_list {
}
.jrgz_imgnew {
	width:268px;
	height:218px;
	margin:10px 12px 0px 12px;
}
.jrgz_list {
}
.jrgz_list_sub {
	height:55px;
	border-top:1px solid #ECECEC;
}
.jrgz_list_subtit {
	height:28px;
	padding-left:12px;
	padding-right:12px;
	margin-top:2px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.jrgz_list_subdate {
	float:right;
	padding-right:12px;
	font-size:12px;
	font-family:"宋体";
	line-height:24px;
	color:#999;
}
.jrgz_list_submore {
	padding:12px;
}
.jrgz_list_submore a {
	color:#999;
}
.jrgz_list_submore a:hover {
	color:#1492FF;
}
.zcjd_list {
	width:292px;
	height:577px;
	overflow:hidden;
}
.zcjd_list_main {
	width:292px;
	height:505px;
	margin-top:-1px;
}
.zcjd_list_sub {
	width:292px;
	height:130px;
	border-top:1px solid #ECECEC;
	position:relative;
}
.zcjd_list_subimg {
	width:90px;
	height:90px;
	position:absolute;
	top:20px;
	left:16px;
}
.zcjd_list_subtit {
	width:158px;
	height:90px;
	position:absolute;
	top:20px;
	right:10px;
}
.zcjd_list_subtit a {
	color:#666;
}
.zcjd_list_subtit a:hover {
	color:#1492FF;
}
.zcjd_list_subdate {
	width:158px;
	height:24px;
	position:absolute;
	top:95px;
	right:10px;
}
.zcjd_list_submore {
	padding-top:22px;
	padding-right:12px;
}
.zcjd_list_submore a {
	color:#999;
}
.zcjd_list_submore a:hover {
	color:#1492FF;
}
.sy_body_right {
	width:686px;
	height:616px;
	position:absolute;
	top:0px;
	right:0px;
}
/*应用链接*/
.yy_link {
	width:686px;
	height:166px;
	position:relative;
}
.yy_link_sub {
	width:136px;
	height:166px;
	cursor:pointer;
}
.yy_link_img {
	width:86px;
	heigth:86px;
	position:absolute;
	top:4px;
	left:25px;
}
.yy_link_tit {
	width:136px;
	height:32px;
	position:absolute;
	top:97px;
	left:0px;
	font-size:18px;
	line-height:32px;
	text-align:center;
	color:#333;
}
.yy_link_intro {
	width:136px;
	height:22px;
	position:absolute;
	top:129px;
	left:0px;
	font-size:14px;
	line-height:22px;
	text-align:center;
	color:#999;
}
.yy_link_sub1 {
	position:absolute;
	top:0px;
	left:0px;
}
.yy_link_sub2 {
	position:absolute;
	top:0px;
	left:136px;
}
.yy_link_sub3 {
	position:absolute;
	top:0px;
	left:272px;
}
.yy_link_sub4 {
	position:absolute;
	top:0px;
	left:408px;
}
.yy_link_sub5 {
	position:absolute;
	top:0px;
	left:544px;
}
.yy_link_sub:hover .yy_link_img {
	width:94px;
	height:94px;
	position:absolute;
	top:0px;
	left:21px;
}
.yy_link_sub:hover .yy_link_tit {
	color:#1492FF;
}
.yy_link_sub:hover .yy_link_intro {
	color:#1492FF;
}
/*热点服务*/
.body_rdfw {
	width:686px;
	height:426px;
	margin-top:24px;
	border:1px solid #e7e7e7;
	background-color:#fff;
}
.rdfw_tit_main {
	height:52px;
	background:url(rdfw_tit_bg1.png) bottom repeat-x;
}
.rdfw_tit {
	display:block;
	height:52px;
	padding-left:20px;
	padding-right:10px;
	float:left;
	background:url(rdfw_tit_bg2.png) bottom repeat-x;
	font-size:18px;
	line-height:50px;
	color:#1492FF;
}
.rdfw_list_main {
	width:685px;
	height:354px;
	overflow:hidden;
	position:relative;
	top:20px;
}
.rdfw_btn_left {
	width:30px;
	height:130px;
	position:absolute;
	top:90px;
	left:1px;
	background:url(rdfw_btn_left.png) left no-repeat;
	cursor:pointer;
}
.rdfw_btn_left:hover {
	background:url(rdfw_btn_left.png) left no-repeat #f7f7f7;
}
.rdfw_btn_right {
	width:30px;
	height:130px;
	position:absolute;
	top:90px;
	right:0px;
	background:url(rdfw_btn_right.png) right no-repeat;
	cursor:pointer;
}
.rdfw_btn_right:hover {
	background:url(rdfw_btn_right.png) right no-repeat #f7f7f7;
}
.rdfw_list_out {
	width:615px;
	height:354px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:35px;
}
.rdfw_list_in {
	width:0px;
	height:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
}
.rdfw_list_incopy {
	width:615px;
	height:354px;
	position:absolute;
	top:0px;
	left:0px;
}
.rdfw_list_copy {
	width:615px;
	height:311px;
	float:left;
}
.rdfw_list_cell {
	width:123px;
	height:110px;
	margin-bottom:10px;
	float:left;
	position:relative;
	cursor:pointer;
}
.rdfw_cell_img {
	width:60px;
	height:60px;
	overflow:hidden;
	background-position:0px -60px;
	position:absolute;
	top:0px;
	left:31px;
}
.rdfw_cell_tit {
	width:123px;
	height:45px;
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:16px;
	line-height:45px;
	text-align:center;
	color:#333;
}
.rdfw_list_cell:hover .rdfw_cell_tit {
	color:#1492FF;
}
.rdfw_list_cell:hover .rdfw_cell_img {
	background-position:0px 0px;
}
/*****右侧浮动*****/
.sy_rfloat {
	width:90px;
	height:530px;
	position:fixed;
	top:50px;
	right:50%;
	margin-right:-640px;
	z-index:999;
	display:block;
}
.rfloat_sub {
	position:relative;
	cursor:pointer;
}
.rfloat_sub_tit {
	width:90px;
	height:28px;
	position:absolute;
	bottom:0px;
	font-size:14px;
	line-height:28px;
	text-align:center;
	color:#666;
}
.rfloat_sub:hover .rfloat_sub_tit {
	color:#fff;
}
.rfloat_sub1 {
	width:90px;
	height:81px;
	background:url(rfloat_sub_bg.png) top no-repeat;
}
.rfloat_sub1 .rfloat_sub_tit {
	bottom:5px;
}
.rfloat_sub1:hover {
	background:url(rfloat_sub_bgon.png) top no-repeat;
}
.rfloat_sub2 {
	width:90px;
	height:71px;
	background:url(rfloat_sub_bg.png) 0px -81px no-repeat;
}
.rfloat_sub2:hover {
	background:url(rfloat_sub_bgon.png) 0px -81px no-repeat;
}
.rfloat_sub2:hover .rfloat_sub_zxts {
	display:block;
}
.rfloat_sub_zxts {
	width:136px;
	height:216px;
	position:absolute;
	top:-74px;
	left:-136px;
	background:url(rfloat_zxts_bg1.png) left no-repeat;
	display:none;
}
.rfloat_sub_zx {
	width:106px;
	height:40px;
	padding-top:68px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	font-size:14px;
	line-height:24px;
	text-align:center;
}
.rfloat_sub_zx:hover {
	background:url(rfloat_zxts_bg2.png) top left no-repeat;
	color:#1492FF;
}
.rfloat_sub_ts {
	width:106px;
	height:40px;
	padding-top:67px;
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:14px;
	line-height:24px;
	text-align:center;
}
.rfloat_sub_ts:hover {
	background:url(rfloat_zxts_bg2.png) bottom left no-repeat;
	color:#1492FF;
}
.rfloat_sub3 {
	width:90px;
	height:71px;
	background:url(rfloat_sub_bg.png) 0px -152px no-repeat;
}
.rfloat_sub3:hover {
	background:url(rfloat_sub_bgon.png) 0px -152px no-repeat;
}
.rfloat_sub4 {
	width:90px;
	height:71px;
	background:url(rfloat_sub_bg.png) 0px -223px no-repeat;
}
.rfloat_sub4:hover {
	background:url(rfloat_sub_bgon.png) 0px -223px no-repeat;
}
.rfloat_sub_2code {
	width:184px;
	height:371px;
	position:absolute;
	top:-150px;
	left:-199px;
	background:url(2code.png) top no-repeat;
	display:none;
}
.rfloat_sub4:hover .rfloat_sub_2code {
	display:block;
}
.rfloat_sub5 {
	width:90px;
	height:71px;
	background:url(rfloat_sub_bg.png) 0px -294px no-repeat;
}
.rfloat_sub5:hover {
	background:url(rfloat_sub_bgon.png) 0px -294px no-repeat;
}
.rfloat_sub6 {
	width:90px;
	height:72px;
	background:url(rfloat_sub_bg.png) 0px -366px no-repeat;
}
.rfloat_sub6 .rfloat_sub_tit {
	bottom:5px;
}
.rfloat_sub6:hover {
	background:url(rfloat_sub_bgon.png) 0px -366px no-repeat;
}
.rfloat_sub7 {
	width:90px;
	height:90px;
	background:url(rfloat_sub_bg.png) 0px -438px no-repeat;
}
/*****底部*****/
/*foot*/
.foot {
	width:100%;
	height:auto;
	overflow:hidden;
	position:relative;
	background-color:#EFEFF0;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size:14px;
}
.foot_main {
	width:1000px;
	height:235px;
	margin:0 auto;
	position:relative;
}
.foot_link {
	width:1000px;
	height:20px;
	position:absolute;
	top:50px;
	left:0px;
	text-align:center;
}
.foot_copyright {
	width:1000px;
	height:62px;
	padding-top:6px;
	position:absolute;
	top:112px;
	left:0px;
	text-align:center
}
.foot_dzjgimg {
	width:50px;
	height:62px;
	position:absolute;
	top:0px;
	right:110px;
}
 @media screen and (max-width:1300px) {
 .sy_rfloat {
margin-right:-600px;
}
}
/*****主体*****/
.page_body_main {
	width:998px;
	height:auto;
	min-height:500px;
	margin:0 auto;
	border:1px solid #f7f7f7;
	background-color:#fff;
	overflow:hidden;
	position:relative;
}
.page_main {
	width:960px;
	min-height:600px;
	margin:30px 19px;
	overflow:hidden;
	position:relative;
}
.page_title {
	color: #000000;
	font-family: "黑体";
	font-size: 24px;
	background-position: center;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
.page_title_info {
	color: #000000;
	font-family: "黑体";
	font-size: 18px;
	background-position: left;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
.page_info {
	color: #000000;
	margin-top: 10px;
	background-color: #ECECEC;
}
.page_content {
	margin-top: 20px;
	line-height: 30px;	
}

/***********************表单验证提醒浮动层样式***************
**************************formValidator*****************/
.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	width: 150px;
	padding-bottom: 15px;
	display: block;
	z-index: 5000;
}

.formError .formErrorContent {
	width: 100%;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	box-shadow: 1px 1px 6px #000;
	-moz-box-shadow: 1px 1px 6px #000;
	-webkit-box-shadow: 1px 1px 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #006699;
}

.formError .formErrorArrow {
	position: absolute;
	bottom: 0;
	left: 20px;
	width: 15px;
	height: 15px;
}

.formError .formErrorArrow div {
	box-shadow: 1px 4px 5px #000;
	-moz-box-shadow: 1px 4px 5px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	font-size: 0px;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	height: 1px;
	margin: 0 auto;
	font-size: 0px;
	display: block;
	background-color: #006699;
}

.formError .formErrorArrow .line9 {
	width: 13px;
	height: 1px;
	background: #006699;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line8 {
	width: 11px;
	height: 1px;
	background: #006699;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line7 {
	width: 9px;
	height: 1px;
	background: #006699;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line6 {
	width: 7px;
	height: 1px;
	background: #006699;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line5 {
	width: 5px;
	height: 1px;
	background: #006699;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line4 {
	width: 3px;
	height: 1px;
	background: #006699;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	height: 1px;
	background: #006699;
	margin: 0 auto;
	display: block;
}


/*****按钮图标*****/
.getSmsCode {
	width: 114px;
	height: 27px;
	background: url(smscode.gif) top no-repeat;
	border: 0px;
	cursor: pointer;
	color: white;
	line-height: 27px;
	font-size: 14px;
	font-family: '微软雅黑', 'Arial Narrow';
}
.submitimg {
	width: 109px;
	height: 38px;
	background: url(submit.gif) top no-repeat;
	border: 0px;
	cursor: pointer;
	color: white;
	line-height: 38px;
	font-size: 18px;
	font-family: '微软雅黑', 'Arial Narrow';
}
.cancelimg {
	width: 109px;
	height: 38px;
	background: url(button.gif) top no-repeat;
	border: 0px;
	cursor: pointer;
	color: white;
	line-height: 38px;
	font-size: 18px;
	font-family: '微软雅黑', 'Arial Narrow';
}
.queryimg {
	width: 25px;
	height: 24px;
	border: 0px;
	cursor: pointer;
	color: white;
	font-size: 14px;
	font-family: '微软雅黑', 'Arial Narrow';
	background-image: url(search.gif);
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 0px;
}

/*****新闻正文样式定义*****/
.page_headtext {
	color:#666666;
}


/*****分页*****/
.currentPage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: underline;
}/* CSS Document */
* {
	margin:0;
	font-family:"微软雅黑";
}
body {
	background-image: url(../images/bg_xw.gif);
	background-repeat: repeat;
	background-position: center;
}
/* 图片无边框*/
img {
	border:0;
}
/*定义整个页面的宽度*/
page {
	width:auto;
!important;
	max-width:1000px !important;
	margin:0 auto;
	height:auto !important;
	width:1000px;
}
form {
	padding:0px;
	margin:0px;
}
/*页面容器初始化结束*/

/*清除页面底部高度，iframe所致*/
#vishidden {
	display:none
}
/*版通基本样式开始*/
/*整个网页超链接样式开始*/
/*去掉鼠标靠近时的下划线*/
a {
	text-decoration:none;
	color:#666666;
}
a:visited {
	color:#666666;
	text-decoration:none;
}
a:hover {
	text-decoration: none;
	color:#1492FF;
}
/*****头部*****/
.loginBar {
	height:20px;
	background-color:#B0D0FF;
	font-size: 12px;
	color: #333333;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 30px;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #0066FF;
	border-bottom-color: #0066FF;
}

.head_all {
	width:100%;
	height:auto;
	position:relative;
	background-color:#fff;
	font-size: 14px;	
}
/*top*/
.top {
	width:100%;
	height:auto;
	background-color:#f3f3f3;
}
.top_main {
	width:1000px;
	height:37px;
	margin:0 auto;
}
.top_link {
	display:block;
	height:37px;
	float:right;
	padding-left:19px;
	background:url(top_link_bg.png) left no-repeat;
	font-size:12px;
	font-family:"宋体";
	line-height:37px;
	color:#666;
}
/*head*/
.head {
	width:100%;
	height:auto;
	position:relative;
	background-color: #EFEFF0;
}
.head_main {
	width:1000px;
	height:auto;
	margin:0 auto;
	position:relative;
}
.logo {
	width:245px;
	height:50px;
	position:absolute;
	top:24px;
	left:0px;
}
.site_nav {
	width:210px;
	height:25px;
	position:absolute;
	top:34px;
	left:357px;
}
.site_nav_main {
	display:block;
	height:25px;
	float:left;
	padding-right:25px;
	position:relative;
	background:url(head_site_bg1.png) right no-repeat;
}
.site_nav_tit {
	font-size:18px;
	line-height:25px;
	cursor:pointer;
}
.site_nav_list {
	width:1000px;
	height:235px;
	position:absolute;
	top:58px;
	left:-357px;
	z-index:2;
	display:none;
}
/*background:url(site_list_bg.png) top no-repeat; */
.site_nav_main:hover {
	background:url(head_site_bg2.png) right no-repeat;
}
.site_nav_main:hover .site_nav_list {
	display:block;
}
.site_sub1 {
	width:996px;
	height:35px;
	position:absolute;
	top:35px;
	left:2px;
	border-bottom:1px solid #e7e7e7;
}
.site_sub1_tit {
	width:94px;
	height:35px;
	position:absolute;
	top:0px;
	left:13px;
	font-size:14px;
	line-height:35px;
}
.site_sub1_listmain {
	width:889px;
	height:35px;
	position:absolute;
	top:0px;
	left:107px;
}
.site_sub1_list {
	display:block;
	height:25px;
	padding-left:6px;
	padding-right:12px;
	margin-top:5px;
	margin-right:20px;
	float:left;
	background-color:#0987FF;
	font-size:14px;
	line-height:25px;
	color:#fff;
	cursor:pointer;
}
.site_sub2 {
	width:996px;
	height:35px;
	position:absolute;
	top:71px;
	left:2px;
	border-bottom:1px solid #e7e7e7;
}
.site_sub2_tit {
	width:94px;
	height:35px;
	position:absolute;
	top:0px;
	left:13px;
	font-size:14px;
	line-height:35px;
}
.site_sub2_listmain {
	width:889px;
	height:35px;
	position:absolute;
	top:0px;
	left:107px;
}
.site_sub2_list {
	display:block;
	height:25px;
	padding-left:6px;
	margin-top:5px;
	margin-right:20px;
	float:left;
	font-size:14px;
	line-height:25px;
	cursor:pointer;
}
.site_sub2_listx {
	padding-right:26px;
	background:url(site_x.png) right no-repeat;
	visibility:hidden;
}
.site_sub2_list:hover {
	background-color:#0987FF;
	color:#fff;
}
.site_sub2_list:hover .site_sub2_listx {
	visibility:visible;
}
.site_sub3 {
	width:996px;
	height:70px;
	position:absolute;
	top:107px;
	left:2px;
	border-bottom:1px solid #e7e7e7;
}
.site_sub3_tit {
	width:94px;
	height:35px;
	position:absolute;
	top:0px;
	left:13px;
	font-size:14px;
	line-height:35px;
}
.site_sub3_listmain {
	width:889px;
	height:35px;
	position:absolute;
	top:0px;
	left:107px;
}
.site_sub3_list {
	display:block;
	height:25px;
	padding-left:6px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:20px;
	float:left;
	font-size:14px;
	line-height:25px;
	cursor:pointer;
}
.site_sub3_listx {
	padding-right:20px;
	background:url(site_x.png) right no-repeat;
	visibility:hidden;
}
.site_sub3_list:hover {
	background-color:#0987FF;
	color:#fff;
}
.site_sub3_list:hover .site_sub3_listx {
	visibility:visible;
}
.site_sub4 {
	width:996px;
	height:35px;
	position:absolute;
	top:178px;
	left:2px;
}
.site_sub4_tit {
	width:94px;
	height:35px;
	position:absolute;
	top:0px;
	left:13px;
	font-size:14px;
	line-height:35px;
}
.site_sub4_listmain {
	width:889px;
	height:35px;
	position:absolute;
	top:0px;
	left:107px;
}
.site_sub4_list {
	display:block;
	height:25px;
	padding-left:6px;
	margin-top:5px;
	margin-right:20px;
	float:left;
	font-size:14px;
	line-height:25px;
	cursor:pointer;
}
.site_sub4_listx {
	padding-right:26px;
	background:url(site_x.png) right no-repeat;
	visibility:hidden;
}
.site_sub4_list:hover {
	background-color:#0987FF;
	color:#fff;
}
.site_sub4_list:hover .site_sub4_listx {
	visibility:visible;
}
.bumen_nav {
	width:100px;
	height:25px;
	position:absolute;
	top:73px;
	left:565px;
}
.bumen_nav_main {
	display:block;
	height:25px;
	float:left;
	padding-left:30px;
	position:relative;
	background:url(head_bumen_bg.png) left no-repeat;
}
.bumen_nav_tit {
	font-size:14px;
	line-height:25px;
	cursor:pointer;
}
.bumen_nav_list {
	width:1000px;
	height:265px;
	position:absolute;
	top:22px;
	left:-565px;
	background:url(bumen_list_bg.png) top no-repeat;
	z-index:2;
	display:none;
}
.bumen_nav_main:hover .bumen_nav_list {
	display:block;
}
.bumen_sub_tit {
	width:75px;
	height:40px;
	position:relative;
	top:13px;
	left:15px;
	font-size:14px;
	line-height:40px;
	text-align:center;
}
.bumen_sub_listmain {
	width:977px;
	height:189px;
	position:absolute;
	top:73px;
	left:21px;
}
.bumen_sub_list {
	width:125px;
	height:25px;
	margin-bottom:5px;
	margin-right:10px;
	float:left;
	font-size:14px;
	line-height:25px;
	text-align:center;
	cursor:pointer;
}
.bumen_sub_list:hover {
	background-color:#0987FF;
	color:#fff;
}
.weather {
	width:80px;
	height:50px;
	position:absolute;
	top:24px;
	left:270px;
}
.weather_sub {
	display:block;
	height:25px;
	float:left;
	padding-left:25px;
	position:absolute;
	top:10px;
	background:url(head_weather_img.png) left no-repeat;
}
.weather_sub_tit {
	font-size:14px;
	line-height:25px;
	color:#999;
	cursor:pointer;
}
.weather_sub_list {
	width:216px;
	height:132px;
	overflow:hidden;
	position:absolute;
	top:58px;
	left:-75px;
	background:url(weather_list_bg.png) top no-repeat;
	z-index:2;
	display:none;
}
.weather_sub:hover .weather_sub_list {
	display:block;
}
.weather_sublist_main {
	width:196px;
	height:84px;
	position:absolute;
	top:28px;
	left:17px;
}
.weather_listr {
	height:28px;
}
.weather_listr_left {
	width:85px;
	height:28px;
	float:left;
	font-size:14px;
	line-height:28px;
}
.weather_listr_right {
	width:106px;
	height:28px;
	float:right;
	font-size:14px;
	line-height:28px;
}
.search {
	width:335px;
	height:37px;
	position:absolute;
	top:30px;
	right:97px;
}
.login {
	width:85px;
	height:37px;
	position:absolute;
	top:30px;
	right:0px;
}
.login_per {
	width:80px;
	height:16px;
	padding-left:20px;
	position:absolute;
	top:0px;
	left:5px;
	background:url(login_img.png) left no-repeat;
	font-size:14px;
	line-height:16px;
	color:#666;
	cursor:pointer;
}
.login_status {
	display:block;
	width:80px;
	height:16px;
	position:absolute;
	top:16px;
	left:5px;
}
.login_denglu {
	font-size:12px;
	font-family:"宋体";
	line-height:16px;
	color:#1492FF;
	cursor:pointer;
}
.login_line {
	font-size:12px;
	font-family:"宋体";
	line-height:16px;
	color:#999;
}
.login_zhuce {
	font-size:12px;
	font-family:"宋体";
	line-height:16px;
	color:#666;
	cursor:pointer;
}
.phone {
	width:220px;
	height:28px;
	position:absolute;
	bottom:8px;
	right:0px;
}
.phone_sub {
	float:right;
	font-size:16px;
	line-height:28px;
	color:#1492FF;
}
/*****主体*****/
/*banner*/
.banner {
	width:100%;
	height:300px;
	position:relative;
}
#banner_img1 {
	width:100%;
	height:300px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	display: block;
}
#banner_img2 {
	width:100%;
	height:300px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	display:none;
}
.banner_img001 {
	width:100%;
	height:300px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	background-image: url(banner.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.banner_img002 {
	width:100%;
	height:300px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	background:url(banner.jpg) top no-repeat;
}
.banner_link {
	width:550px;
	height:110px;
	margin:0 auto;
	position:relative;
	top:10px;
	left: 100px;
}
.banner_link_list1 {
	width:259px;
	height:110px;
	position:absolute;
	top:0px;
	left:0px;
}
.banner_link_list2 {
	width:350px;
	height:110px;
	position:absolute;
	top:0px;
	left:263px;
}
.banner_link_sub {
	overflow:hidden;
	position:absolute;
	cursor:pointer;
}
.banner_list1_subbg1 {
	width:128px;
	height:110px;
	position:absolute;
	top:-110px;
	left:0px;
}
.banner_list1_subbg2 {
	width:128px;
	height:110px;
	position:absolute;
	top:0px;
	left:0px;
}
.banner_list1_tit {
	width:128px;
	height:42px;
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:18px;
	line-height:42px;
	text-align:center;
	color:#fff;
}
.banner_list2_subbg1 {
	width:128px;
	height:110px;
	position:absolute;
	top:-110px;
	left:0px;
}
.banner_list2_subbg2 {
	width:128px;
	height:110px;
	position:absolute;
	top:0px;
	left:2px;
}
.banner_list2_tit {
	width:112px;
	height:42px;
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:18px;
	line-height:42px;
	text-align:center;
}
.banner_list2_subbg1 .banner_list2_tit {
	color:#f27576;
}
.banner_list2_subbg2 .banner_list2_tit {
	color:#1492FF;
}
.banner_link_sub1 {
	width:128px;
	height:110px;
	position:absolute;
	top:0px;
	left:0px;
}
.banner_link_sub1 .banner_list1_subbg1 {
	background-color: #e8ba41;
	background-image: url(banner_sub_bg11.png);
	background-repeat: no-repeat;
	background-position: top;
	font-weight: bold;
}
.banner_link_sub1 .banner_list1_subbg2 {
	background-color: #215283;
	background-image: url(banner_sub_bg1.png);
	background-repeat: no-repeat;
	background-position: top;
	opacity:0.3;filter:alpha(opacity=30); 
}
.banner_link_sub2 {
	width:128px;
	height:110px;
	overflow:hidden;
	position:absolute;
	top:0px;
	right:-2px;
}
.banner_link_sub2 .banner_list1_subbg1 {
	background-color: #e8ba41;
	background-image: url(banner_sub_bg22.png);
	background-repeat: no-repeat;
	background-position: top;
	font-weight: bold;
}
.banner_link_sub2 .banner_list1_subbg2 {
	background-color: #215283;
	background-image: url(banner_sub_bg2.png);
	background-repeat: no-repeat;
	background-position: top;
	opacity:0.3;filter:alpha(opacity=30); 
}
.banner_link_sub3 {
	width:128px;
	height:110px;
	position:absolute;
	top:0px;
	left:2px;
}
.banner_link_sub3 .banner_list2_subbg1 {
	background-color: #e8ba41;
	background-image: url(banner_sub_bg33.png);
	background-repeat: no-repeat;
	background-position: top;
	font-weight: bold;
}
.banner_link_sub3 .banner_list2_subbg2 {
	background-color: #215283;
	background-image: url(banner_sub_bg3.png);
	background-repeat: no-repeat;
	background-position: top;
	opacity:0.3;filter:alpha(opacity=30); 
}
.banner_link_sub4 {
	width:128px;
	height:110px;
	position:absolute;
	top:0px;
	left:134px;
}
.banner_link_sub4 .banner_list2_subbg1 {
	background-color: #e8ba41;
	background-image: url(banner_sub_bg44.png);
	background-repeat: no-repeat;
	background-position: top;
	font-weight: bold;
}
.banner_link_sub4 .banner_list2_subbg2 {
	background-color: #215283;
	background-image: url(banner_sub_bg4.png);
	background-repeat: no-repeat;
	background-position: top;
	opacity:0.3;filter:alpha(opacity=30); 
}
.banner_link_sub5 {
	width:128px;
	height:110px;
	position:absolute;
	top:0px;
	left:267px;
}
.banner_link_sub5 .banner_list2_subbg1 {
	background-color: #e8ba41;
	background-image: url(banner_sub_bg55.png);
	background-repeat: no-repeat;
	background-position: top;
	font-weight: bold;
}
.banner_link_sub5 .banner_list2_subbg2 {
	background-color: #215283;
	background-image: url(banner_sub_bg5.png);
	background-repeat: no-repeat;
	background-position: top;
	opacity:0.3;filter:alpha(opacity=30); 
}
.banner_link_sub6 {
	width:128px;
	height:110px;
	position:absolute;
	top:0px;
	left:336px;
}
.banner_link_sub6 .banner_list2_subbg1 {
	background-color: #e8ba41;
	background-image: url(banner_sub_bg66.png);
	background-repeat: no-repeat;
	background-position: top;
	font-weight: bold;
}
.banner_link_sub6 .banner_list2_subbg2 {
	background-color: #215283;
	background-image: url(banner_sub_bg6.png);
	background-repeat: no-repeat;
	background-position: top;
	opacity:0.3;filter:alpha(opacity=30); 
}
/*首页主体*/
.sy_body {
	width:1000px;
	height:250px;
	position:relative;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	font-size:14px;
}
.sy_body_left {
	width:292px;
	height:616px;
	position:absolute;
	top:0px;
	left:0px;
	border:1px solid #E7E7E7;
	background-color:#FDFDFD;
}
.body_left_tit {
	width:292px;
	height:39px;
	position:relative;
}
.left_tit_sub {
	font-size:18px;
	line-height:39px;
	text-align:center;
	cursor:pointer;
}
.jrgz_tit {
	width:146px;
	height:39px;
	position:absolute;
	top:0px;
	left:0px;
}
.zcjd_tit {
	width:146px;
	height:39px;
	position:absolute;
	top:0px;
	right:0px;
}
.body_left_list {
	width:292px;
	height:auto;
	position:relative;
	border-bottom:1px solid #ECECEC;
}
.jrgz_list {
}
.jrgz_imgnew {
	width:268px;
	height:218px;
	margin:10px 12px 0px 12px;
}
.jrgz_list {
}
.jrgz_list_sub {
	height:55px;
	border-top:1px solid #ECECEC;
}
.jrgz_list_subtit {
	height:28px;
	padding-left:12px;
	padding-right:12px;
	margin-top:2px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.jrgz_list_subdate {
	float:right;
	padding-right:12px;
	font-size:12px;
	font-family:"宋体";
	line-height:24px;
	color:#999;
}
.jrgz_list_submore {
	padding:12px;
}
.jrgz_list_submore a {
	color:#999;
}
.jrgz_list_submore a:hover {
	color:#1492FF;
}
.zcjd_list {
	width:292px;
	height:577px;
	overflow:hidden;
}
.zcjd_list_main {
	width:292px;
	height:505px;
	margin-top:-1px;
}
.zcjd_list_sub {
	width:292px;
	height:130px;
	border-top:1px solid #ECECEC;
	position:relative;
}
.zcjd_list_subimg {
	width:90px;
	height:90px;
	position:absolute;
	top:20px;
	left:16px;
}
.zcjd_list_subtit {
	width:158px;
	height:90px;
	position:absolute;
	top:20px;
	right:10px;
}
.zcjd_list_subtit a {
	color:#666;
}
.zcjd_list_subtit a:hover {
	color:#1492FF;
}
.zcjd_list_subdate {
	width:158px;
	height:24px;
	position:absolute;
	top:95px;
	right:10px;
}
.zcjd_list_submore {
	padding-top:22px;
	padding-right:12px;
}
.zcjd_list_submore a {
	color:#999;
}
.zcjd_list_submore a:hover {
	color:#1492FF;
}
.sy_body_right {
	width:686px;
	height:616px;
	position:absolute;
	top:0px;
	right:0px;
}
/*应用链接*/
.yy_link {
	width:686px;
	height:166px;
	position:relative;
}
.yy_link_sub {
	width:136px;
	height:166px;
	cursor:pointer;
}
.yy_link_img {
	width:86px;
	heigth:86px;
	position:absolute;
	top:4px;
	left:25px;
}
.yy_link_tit {
	width:136px;
	height:32px;
	position:absolute;
	top:97px;
	left:0px;
	font-size:18px;
	line-height:32px;
	text-align:center;
	color:#333;
}
.yy_link_intro {
	width:136px;
	height:22px;
	position:absolute;
	top:129px;
	left:0px;
	font-size:14px;
	line-height:22px;
	text-align:center;
	color:#999;
}
.yy_link_sub1 {
	position:absolute;
	top:0px;
	left:0px;
}
.yy_link_sub2 {
	position:absolute;
	top:0px;
	left:136px;
}
.yy_link_sub3 {
	position:absolute;
	top:0px;
	left:272px;
}
.yy_link_sub4 {
	position:absolute;
	top:0px;
	left:408px;
}
.yy_link_sub5 {
	position:absolute;
	top:0px;
	left:544px;
}
.yy_link_sub:hover .yy_link_img {
	width:94px;
	height:94px;
	position:absolute;
	top:0px;
	left:21px;
}
.yy_link_sub:hover .yy_link_tit {
	color:#1492FF;
}
.yy_link_sub:hover .yy_link_intro {
	color:#1492FF;
}
/*热点服务*/
.body_rdfw {
	width:686px;
	height:426px;
	margin-top:24px;
	border:1px solid #e7e7e7;
	background-color:#fff;
}
.rdfw_tit_main {
	height:52px;
	background:url(rdfw_tit_bg1.png) bottom repeat-x;
}
.rdfw_tit {
	display:block;
	height:52px;
	padding-left:20px;
	padding-right:10px;
	float:left;
	background:url(rdfw_tit_bg2.png) bottom repeat-x;
	font-size:18px;
	line-height:50px;
	color:#1492FF;
}
.rdfw_list_main {
	width:685px;
	height:354px;
	overflow:hidden;
	position:relative;
	top:20px;
}
.rdfw_btn_left {
	width:30px;
	height:130px;
	position:absolute;
	top:90px;
	left:1px;
	background:url(rdfw_btn_left.png) left no-repeat;
	cursor:pointer;
}
.rdfw_btn_left:hover {
	background:url(rdfw_btn_left.png) left no-repeat #f7f7f7;
}
.rdfw_btn_right {
	width:30px;
	height:130px;
	position:absolute;
	top:90px;
	right:0px;
	background:url(rdfw_btn_right.png) right no-repeat;
	cursor:pointer;
}
.rdfw_btn_right:hover {
	background:url(rdfw_btn_right.png) right no-repeat #f7f7f7;
}
.rdfw_list_out {
	width:615px;
	height:354px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:35px;
}
.rdfw_list_in {
	width:0px;
	height:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
}
.rdfw_list_incopy {
	width:615px;
	height:354px;
	position:absolute;
	top:0px;
	left:0px;
}
.rdfw_list_copy {
	width:615px;
	height:311px;
	float:left;
}
.rdfw_list_cell {
	width:123px;
	height:110px;
	margin-bottom:10px;
	float:left;
	position:relative;
	cursor:pointer;
}
.rdfw_cell_img {
	width:60px;
	height:60px;
	overflow:hidden;
	background-position:0px -60px;
	position:absolute;
	top:0px;
	left:31px;
}
.rdfw_cell_tit {
	width:123px;
	height:45px;
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:16px;
	line-height:45px;
	text-align:center;
	color:#333;
}
.rdfw_list_cell:hover .rdfw_cell_tit {
	color:#1492FF;
}
.rdfw_list_cell:hover .rdfw_cell_img {
	background-position:0px 0px;
}
/*****右侧浮动*****/
.sy_rfloat {
	width:90px;
	height:530px;
	position:fixed;
	top:50px;
	right:50%;
	margin-right:-640px;
	z-index:999;
	display:block;
}
.rfloat_sub {
	position:relative;
	cursor:pointer;
}
.rfloat_sub_tit {
	width:90px;
	height:28px;
	position:absolute;
	bottom:0px;
	font-size:14px;
	line-height:28px;
	text-align:center;
	color:#666;
}
.rfloat_sub:hover .rfloat_sub_tit {
	color:#fff;
}
.rfloat_sub1 {
	width:90px;
	height:81px;
	background:url(rfloat_sub_bg.png) top no-repeat;
}
.rfloat_sub1 .rfloat_sub_tit {
	bottom:5px;
}
.rfloat_sub1:hover {
	background:url(rfloat_sub_bgon.png) top no-repeat;
}
.rfloat_sub2 {
	width:90px;
	height:71px;
	background:url(rfloat_sub_bg.png) 0px -81px no-repeat;
}
.rfloat_sub2:hover {
	background:url(rfloat_sub_bgon.png) 0px -81px no-repeat;
}
.rfloat_sub2:hover .rfloat_sub_zxts {
	display:block;
}
.rfloat_sub_zxts {
	width:136px;
	height:216px;
	position:absolute;
	top:-74px;
	left:-136px;
	background:url(rfloat_zxts_bg1.png) left no-repeat;
	display:none;
}
.rfloat_sub_zx {
	width:106px;
	height:40px;
	padding-top:68px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	font-size:14px;
	line-height:24px;
	text-align:center;
}
.rfloat_sub_zx:hover {
	background:url(rfloat_zxts_bg2.png) top left no-repeat;
	color:#1492FF;
}
.rfloat_sub_ts {
	width:106px;
	height:40px;
	padding-top:67px;
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:14px;
	line-height:24px;
	text-align:center;
}
.rfloat_sub_ts:hover {
	background:url(rfloat_zxts_bg2.png) bottom left no-repeat;
	color:#1492FF;
}
.rfloat_sub3 {
	width:90px;
	height:71px;
	background:url(rfloat_sub_bg.png) 0px -152px no-repeat;
}
.rfloat_sub3:hover {
	background:url(rfloat_sub_bgon.png) 0px -152px no-repeat;
}
.rfloat_sub4 {
	width:90px;
	height:71px;
	background:url(rfloat_sub_bg.png) 0px -223px no-repeat;
}
.rfloat_sub4:hover {
	background:url(rfloat_sub_bgon.png) 0px -223px no-repeat;
}
.rfloat_sub_2code {
	width:184px;
	height:371px;
	position:absolute;
	top:-150px;
	left:-199px;
	background:url(2code.png) top no-repeat;
	display:none;
}
.rfloat_sub4:hover .rfloat_sub_2code {
	display:block;
}
.rfloat_sub5 {
	width:90px;
	height:71px;
	background:url(rfloat_sub_bg.png) 0px -294px no-repeat;
}
.rfloat_sub5:hover {
	background:url(rfloat_sub_bgon.png) 0px -294px no-repeat;
}
.rfloat_sub6 {
	width:90px;
	height:72px;
	background:url(rfloat_sub_bg.png) 0px -366px no-repeat;
}
.rfloat_sub6 .rfloat_sub_tit {
	bottom:5px;
}
.rfloat_sub6:hover {
	background:url(rfloat_sub_bgon.png) 0px -366px no-repeat;
}
.rfloat_sub7 {
	width:90px;
	height:90px;
	background:url(rfloat_sub_bg.png) 0px -438px no-repeat;
}
/*****底部*****/
/*foot*/
.foot {
	width:100%;
	height:auto;
	overflow:hidden;
	position:relative;
	background-color:#EFEFF0;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size:14px;
}
.foot_main {
	width:1000px;
	height:235px;
	margin:0 auto;
	position:relative;
}
.foot_link {
	width:1000px;
	height:20px;
	position:absolute;
	top:50px;
	left:0px;
	text-align:center;
}
.foot_copyright {
	width:1000px;
	height:62px;
	padding-top:6px;
	position:absolute;
	top:112px;
	left:0px;
	text-align:center
}
.foot_dzjgimg {
	width:50px;
	height:62px;
	position:absolute;
	top:0px;
	right:110px;
}
 @media screen and (max-width:1300px) {
 .sy_rfloat {
margin-right:-600px;
}
}
/*****主体*****/
.page_body_main {
	width:998px;
	height:auto;
	min-height:500px;
	margin:0 auto;
	border:1px solid #f7f7f7;
	background-color:#fff;
	overflow:hidden;
	position:relative;
}
.page_main {
	width:960px;
	min-height:600px;
	margin:30px 19px;
	overflow:hidden;
	position:relative;
}
.page_title {
	color: #000000;
	font-family: "黑体";
	font-size: 24px;
	background-position: center;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
.page_info {
	color: #000000;
	margin-top: 10px;
	background-color: #ECECEC;
}
.page_content {
	margin-top: 20px;
	line-height: 30px;	
}

/***********************表单验证提醒浮动层样式***************
**************************formValidator*****************/
.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	width: 150px;
	padding-bottom: 15px;
	display: block;
	z-index: 5000;
}

.formError .formErrorContent {
	width: 100%;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	box-shadow: 1px 1px 6px #000;
	-moz-box-shadow: 1px 1px 6px #000;
	-webkit-box-shadow: 1px 1px 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #006699;
}

.formError .formErrorArrow {
	position: absolute;
	bottom: 0;
	left: 20px;
	width: 15px;
	height: 15px;
}

.formError .formErrorArrow div {
	box-shadow: 1px 4px 5px #000;
	-moz-box-shadow: 1px 4px 5px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	font-size: 0px;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	height: 1px;
	margin: 0 auto;
	font-size: 0px;
	display: block;
	background-color: #006699;
}

.formError .formErrorArrow .line9 {
	width: 13px;
	height: 1px;
	background: #006699;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line8 {
	width: 11px;
	height: 1px;
	background: #006699;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line7 {
	width: 9px;
	height: 1px;
	background: #006699;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line6 {
	width: 7px;
	height: 1px;
	background: #006699;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line5 {
	width: 5px;
	height: 1px;
	background: #006699;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line4 {
	width: 3px;
	height: 1px;
	background: #006699;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	height: 1px;
	background: #006699;
	margin: 0 auto;
	display: block;
}


/*****按钮图标*****/
.getSmsCode {
	width: 114px;
	height: 27px;
	background: url(smscode.gif) top no-repeat;
	border: 0px;
	cursor: pointer;
	color: white;
	line-height: 27px;
	font-size: 14px;
	font-family: '微软雅黑', 'Arial Narrow';
}
.submitimg {
	width: 109px;
	height: 38px;
	background: url(submit.gif) top no-repeat;
	border: 0px;
	cursor: pointer;
	color: white;
	line-height: 38px;
	font-size: 18px;
	font-family: '微软雅黑', 'Arial Narrow';
}
.cancelimg {
	width: 109px;
	height: 38px;
	background: url(button.gif) top no-repeat;
	border: 0px;
	cursor: pointer;
	color: white;
	line-height: 38px;
	font-size: 18px;
	font-family: '微软雅黑', 'Arial Narrow';
}
.queryimg {
	width: 25px;
	height: 24px;
	border: 0px;
	cursor: pointer;
	color: white;
	font-size: 14px;
	font-family: '微软雅黑', 'Arial Narrow';
	background-image: url(search.gif);
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 0px;
}

/*****新闻正文样式定义*****/
.page_headtext {
	color:#666666;
}


/*****分页*****/
.currentPage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: underline;
}